aside {
	header{
		h1 a{
		font-size:1.625em;
		color: $black-80;
		display: block;
		&:hover {
		color:$black-60;
		  }
	   }
	   h2{
	   font-size:1rem;
	   color: $black-60;
	   font-weight: 400;
	   margin-top :$spacing * 2.25;
	   line-height:$lh-copy;
	   }
	}
	nav {
		margin-top :$spacing *24;
		.nav-item {
			color :$black-80;
			font-family: 'Noto Sans',serif;
			display: block;
			font-weight: 700;
			&:hover {
			    color: $black-60;
			}
            & + .nav-item {
                margin-top:$spacing *2.25;
                border-top :1px solid $black-10;
                padding-top :$spacing *2.25;
            }
            .nav-description {
	            color: $black-60;
	            font-family: 'Noto Sans',sans-serif;
	            display:block;
	            font-size: 0.8125;
	            margin-top: $spacing * 1.5;
	            font-weight:400;
            }
	  }
	}
	.social-nav{
	     display:flex;
	     margin-top:$spacing *24;
	     a{
	         display :block;
	         svg {
		         fill: $black-80;
		         width: $spacing * 7;
	             height: $spacing * 7;
	         }
	         &:hover svg {
	            fill :$black-60;
	         }
	         & + a{
	         margin-left:$spacing * 4;
	         }
	     }
	}
}